<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Account Updated</h1>
    <p>
      Your Account has been updated.
    </p>
    <p>
      If you believe this was done in error, please email <a href="mailto:conceirge@toiletpapersociety.com">conceirge@toiletpapersociety.com</a>
    </p>
  </body>
</html>