<div style="width:600px;min-height:500px;background:#efefef;">
<%= link_to image_tag("logo.png"), "http://toiletpapersociety.com" %>
<h1 style="text-align:center;">Welcome to Toilet Paper Society!</h1>

<p style="text-align:center;">You're in! We're glad to have you in the Society. You can expect your first shipment to arrive at your door soon.</p>


</div>