<div class="container top-down">
	<div class="page-header">
  		<h1 class="center">Edit Profile</h1>
	</div>

		<%= render :partial => 'users/form', :locals => {:user => current_user, :editing => true} %>
</div>

	<%= render 'layouts/footer' %>