<div id="register">
	<div class="container">
		<div class="col-md-12 center heading">
			<h1>Join The Society</h1>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>What You Get</h2>
				</div>
				<div class="panel-body">
					Six Pack.
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<%= render :partial => 'users/form', :locals => {:user => @user} %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>