<div class="container top-down">
	<div class="page-header center">
		<h1>Reactivate Your Membership</h1>
	</div>
	<div class="col-md-6 col-md-offset-3 center">
		<p>Your current membership is inactive, and you've likely run out of TP</p>
		<%= link_to "Let me back in!", reactivate_account_path, class: "btn btn-lg btn-primary btn-block" %>
	</div>
</div>
<%= render 'layouts/footer' %>
