<div class="jumbotron">
<% if current_user %>
  <p>Shouldn't you be coding?</p>
  <p><%= link_to "Edit Profile", edit_profile_path %>
<% else %>
  <h1>Toilet Paper Society!</h1>
  <p><%= link_to "Join Today!", register_path %></p>
<% end %>
</div>