<div class="container top-down">
	<div class="page-header center">
		<h1>How It Works</h1>
		<p>When You're In The Society It Means You'll Never Run Out Again</p>
	</div>
	<div class="col-md-3 center">
		<div class="alert alert-warning">I love TPS!</div>
		<%= image_tag "head1.jpg" %>
		<h5>Parker Y.</h5>
	</div>
	<div class="col-md-3 center">
		<div class="alert alert-warning">I love TPS!</div>
		<%= image_tag "head2.jpg" %>
		<h5>Katie G.</h5>
	</div>
	<div class="col-md-3 center">
		<div class="alert alert-warning">I love TPS!</div>
		<%= image_tag "head3.jpg" %>
		<h5>Tanner R.</h5>
	</div>
	<div class="col-md-3 center">
		<div class="alert alert-warning">I love TPS!</div>
		<%= image_tag "head4.jpg" %>
		<h5>Nicole C.</h5>
	</div>
</div>