<div class="container top-down">
	<div class="page-header center">
		<h1>Our Toilet Paper</h1>
		<p>It's Better Than Theirs. Damn Right. It's Better Than Theirs.</p>
	</div>

	<div class="row bottomed">
		<div class="col-md-4">
			<ul class="list-group center">
				<li class="list-group-item ours"><h5>Our Toilet Paper</h5><p>165 Sheets of Goodness</p></li>
				<li class="list-group-item">Delivered To Your Door</li>
				<li class="list-group-item">Doesn't Take Up Space</li>
				<li class="list-group-item">Consistently Great Quality</li>
				<li class="list-group-item">It's Never Your Turn To Go Buy More</li>
			</ul>
		</div>
		<div class="col-md-4 center">
			<%= image_tag "toilet-paper-compare.jpg", width: "300" %>
		</div>
		<div class="col-md-4">
			<ul class="list-group center">
				<li class="list-group-item theirs"><h5>Their Toilet Paper</h5><p>Big Box Store Junk</p></li>
				<li class="list-group-item">Fight Traffic > Wait in Line > Fight Traffic</li>
				<li class="list-group-item">Another Thing To Worry About</li>
				<li class="list-group-item">Cram That Big Package Under The Sink</li>
				<li class="list-group-item">So Many Brands, Too Many Prices</li>
  				
			</ul>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>