<div class="container top-down">
	<div class="page-header center">
		<h1>Privacy Policy</h1>
		<p>Last Updated January 7th, 2014</p>
	</div>
	<div class="body">
	<p class="uppercase">Toilet Paper Society – “We”, “Us” or “ Our” – values your privacy and is committed to protecting your personal information. Toilet Paper Society is an online service that delivers high-quality toilet paper to its members on a regular basis – “products” or “services”.</p>

	<h5>Information Collection</h5>

	<p>The information we collect from you enables us to fulfill your order and keep you abreast of any updates related to our site and your membership. We also use this information to personalize and continually improve our site, your experience, and to ultimately serve you better.</p>

	<p>We collect information from you when you register on our site, place an order or subscribe to our newsletter. During this process, you may be asked to enter your name, password, e-mail address, mailing address, billing address, phone number or credit card information.</p>

	<p>We may also collect some information by automated means, such as cookies, web beacons, and other automated devices. Web and social media analytics tools - such as Google Analytics, Facebook Insights and Simply Measured - that collect information about visitor traffic on the site may be used as well. </p>

	<h5>Information Use</h5>

	<p>The primary use of all collected information will be to process transactions.</p>

	<p>Collected information may also be used to improve the website, our customer service and the overall user experience.</p>

	<p>Additionally, your information will be used to send emails pertaining to your order, along with general company news and information about related companies, products and/or services. If at any time a customer would like to ‘unsubscribe’ from Toilet Paper Society emails (once the user has received the original subscription confirmation email) that information can be found at the bottom of all email correspondence.</p>

	<p>Your private information will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested. In the event that Toilet Paper Society is involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. Our dedication to protecting your information will apply throughout that process.</p>


	<h5>Information Protection</h5>

	<p>Protecting your personal information is very important to us. Therefore, security measures have been put in place to ensure your information is kept safe.</p>

	<p>All supplied sensitive information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our payment gateway provider’s database – Stripe – only to be accessible by those authorized with special access rights to such systems.</p>

	<p>After a transaction, your private information - credit cards, billing information, etc - will not be stored on our servers. As mentioned, your information will be securely stored using Stripe, Toilet Paper Society’s payment gateway of choice. Stripe is required to keep this information confidential.</p>

	<p>For more information about Stripe’s security measures, please visit: <%= link_to "https://stripe.com/help/security", "https://stripe.com/help/security" %>.</p>

	<h5>About Cookies</h5>

	<p>If allowed by the site visitor, Toilet Paper Society uses cookies to gather general information about each visitor. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your web browser.</p>

	<p>You can learn more about cookies by visiting <%= link_to "http://www.allaboutcookies.org", "http://www.allaboutcookies.org" %>. This site features useful information about cookies and how to block cookies using different browsers.</p>

	<p>If the user allows it, cookies enable the site or service provider’s system to recognize your browser and capture certain information. Toilet Paper Society uses cookies to help recognize site visitors and search for ways to improve the overall user experience.</p>

	<h5>Policy Changes</h5>

	<p>It is possible that from time to time, Toilet Paper Society will update the Privacy Policy. For the most recent version, please visit: <%= link_to "http://toiletpapersociety.com/privacy", "http://toiletpapersociety.com/privacy" %>

	<p>Based on our discretion, if substantial changes are made to this policy, Toilet Paper Society members will be notified via email.</p>
</div>
</div>

<%= render 'layouts/footer' %>