<div id="home-hero">
	<div class="container center">
	  		<h1>DON'T GET CAUGHT</h1>
	  		<h2>WITH YOUR PANTS DOWN</h2>
  			<p><%= link_to "GET STARTED", register_path, class: "btn btn-get-started" %></p>

	</div>
</div>
<div id="quality-banner">
	<div class="container">
		<h3>4 Rolls of Toilet Paper. Delivered To Your Door. Every Month. For $6.99.</h3>
	</div>
</div>
<%= render 'layouts/left-right' %>
<%= render 'layouts/footer' %>