<div class="container" id="how-it-works">
	<h2>How it Works</h2>
	<div class="col-lg-4">
		<h4>Step One: Join The Society</h4>
		<p>Accepting new members now. We've got your rear-end covered.</p>
	</div>
	<div class="col-lg-4">
		<h4>Step Two: Check Your Mail</h4>
		<p>Six rolls, hand delivered to your door, each and every month.</p>
	</div>
	<div class="col-lg-4">
		<h4>Step Three: Wipe Away!</h4>
		<p>You're all set. Never run out and avoid that awkward moment.</p>
	</div>
</div>