<div id="how-it-works">
	<div class="container">
		<h2>How it Works</h2>
		<div class="col-lg-4">
			<h3>Join The Society</h3>
			<img src="assets/step1.png" />
			<p>Accepting new members now. We've got your rear-end covered.</p>
		</div>
		<div class="col-lg-4">
			<h3>Check Your Mail</h3>
			<img src="assets/step2.png" />
			<p>Six rolls, hand delivered to your door, each and every month.</p>
		</div>
		<div class="col-lg-4">
			<h3>Wipe Away</h3>
			<img src="assets/step3.png" />
			<p>You're all set. Never run out again and avoid that awkward moment.</p>
		</div>
	</div>
</div>