<div class="page-header center">
	<h1>Members Only!</h1>
</div>
<div class="col-md-4 col-md-offset-4">
	<%= link_to "Sign In", sign_in_path, class: "btn btn-primary btn-lg btn-block" %>
	<%= link_to "Sign Up", register_path, class: "btn btn-success btn-lg btn-block" %>
</div>